.logo-container {
  border-bottom: 2px solid #ebebeb;
  display: block;
  height: 70px;
  padding: 0 30px;
  .logo {
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 100%;
    background-size: contain;
    transform: scale(.8);
    background-image: url('../assets/logo.png');
  }
}

.dashboard-container{
  margin: 20px;
}