<nav class="logo-container">
  <div class='logo'></div>
</nav>
<div class="dashboard-container">
  <filter-transactions [dateRangeList]="dateRangeList" [clientsAccountsList]="clientsAccountsList"
    (newFilterRequest)="newFilterRequest($event)">
  </filter-transactions>

  <account-balance [accountData]="accountData"></account-balance>
  <ng-container *ngIf="accountData">
    <transaction-graph [transactions]="accountData.transactions"></transaction-graph>
    <transaction-table [transactions]="accountData.transactions"></transaction-table>
  </ng-container>
</div>