<mat-form-field>
    <mat-select [(ngModel)]="selectedAccount" (ngModelChange)="filterChanged()">
        <mat-option *ngFor="let account of clientsAccounts" [value]="account">
            {{account.id}} ({{account.currency.shortCode}})
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-button-toggle-group [(ngModel)]="selectedDateRange" (change)="filterChanged()">
    <mat-button-toggle *ngFor="let dateRange of dateRanges" [value]="dateRange">
        {{dateRange.desc}}</mat-button-toggle>
</mat-button-toggle-group>

<mat-form-field *ngIf="showCustomDate">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="customDate" (dateChange)="customDateChanged()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>